@import url(./variables.css);

body {
  font-family: var(--ff-primary);
  font-weight: 500;
  background-color: var(--cream);

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
}

h1 {
  font-family: var(--ff-heading);
  font-size: 2.25em;
}

.card {
  display: flex;
  max-width: 600px;
  width: 100%;
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}

.thumb {
  flex: 1 1 50%;
}

.card__body {
  flex: 1 1 50%;
  padding: 0;
}

.card__wrapper{
  padding: 24px;
  
}


.img {
  background-image: url('./images/image-product-desktop.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.sub__title, h1.title {
  margin: .5em 0 0.7em 0;
}
.sub__title {
  opacity: 0.5;
  letter-spacing: 3px;
  font-size: 0.8em;
}
.title {
  max-width: 100%;
  padding-right: 12px;
}

.card__body__body{
  padding: 0 10px 0 0;
  line-height: 1.4;
  font-size: 1em;
  width: 100%;
  opacity: 0.5;
}

.bottom__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

.card__body__price {
  display: flex;
  gap: 2em;
  margin-left: 0.8em;
}

.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  
}

.main__price {
  font-size: 2.3em;
  font-family: var(--ff-heading);
  color: var(--green-500);
}

.sub__price__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub__price {
  text-decoration: line-through;
  opacity: 0.5;
}

button.toCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80%;
  max-width:260px;
  height: 50px;
  
  border-radius: 10px;
  background-color: var(--green-500);
  font-family: var(--ff-primary);
  font-weight: 700;
  color: white;
  border: 0;
}
@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes colorChange {
  from {
    background-color: var(--green-500);
  }
  to {
    background-color: var(--green-700);
  }
}


button:hover {
  animation: colorChange 0.25s ease forwards, pop 0.25s linear;
  
}


@media (max-width: 375px) {
  body {
    padding: 20px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 80%;
    
  }

  .img {
    background-image: url('./images/image-product-mobile.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .thumb {
  flex: 1 1 50%;
}

.card__body {
  flex: 1 1 50%;
  padding: 0;
}
}




